<!DOCTYPE html>
<html lang="ru">
<head><title>Enter</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/enter.css">
  <script src="js/auth.js"></script>
</head>
<body>
<div class="card">
  <form action=""><h1>Уже есть аккаунт?</h1><input type="text" name="name" id="name" placeholder="Имя" required><input
    type="text" name="password" placeholder="Пароль" required><label><input type="checkbox" checked="checked"
                                                                            name="remember" style="margin-bottom:15px">Запомнить
    меня</label>
    <div class="clearfix">
      <button class="cancelbtn" type="button" onclick="login()">Вход</button>

    </div>
  </form>
  <a class="reg" href="/registration.html">Зарегистрироваться</a></div>
</body>
</html>