#main {
    margin-top: 10px;
}

* {
    box-sizing: border-box;
}

body{
    background:#6a5d71 ;
}
.carousel {
    margin-top: 0;
    z-index: 1;
}

.carousel-cell {
    width: 66%;
    height: 600px;
    margin-right: 10px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.carousel-cell:before {
    display: block;
    content: '';
}

.carousel-cell img {
    width: 105%;
    height: 600px;
}

#footer {
    padding-top: 30px;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
    background: white;
}